.primer-sidebar {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: visible;
  background: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.primer-logo {
  overflow: hidden;
  display: block;
  margin: 1.5rem 1rem;
  height: 60px;
  text-indent: -600px;
  background: url("../img/logo.svg") no-repeat center;
}

.primer-sidebar__nav {
  -webkit-transition: opacity 150ms ease;
  transition: opacity 150ms ease;
}

.primer-sidebar-group > .primer-nav-items {
  display: none;
  border-bottom: 1px solid rgba(151, 151, 151, 0.17);
}

.primer-sidebar-group--open > .primer-nav-items {
  display: block;
}

.primer-sidebar-group__title {
  position: relative;
  display: block;
  padding: 1.1rem 1rem 1.1rem 2.8rem;
  font-size: 0.9rem;
  font-weight: 500;
  color: #606163;
  background-color: #fff;
  border-bottom: 1px solid rgba(151, 151, 151, 0.17);
}

.primer-sidebar-group__title:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 2.8rem;
  height: 96%;
  background-position: center;
  background-repeat: no-repeat;
  content: '';
  opacity: 0.7;
}

.primer-sidebar-group__title + .primer-nav-items {
  position: relative;
  padding: 0.5rem 0;
  background: #F9FAFC;
}

.primer-sidebar-group__title + .primer-nav-items:before {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 6px;
  background: #D8DDE3;
  content: '';
}

.primer-nav-item__group-link {
  width: 22px;
  height: 15px;
  overflow: hidden;
  text-indent: -1000%;
  background: url("../img/eye.svg") no-repeat center;
  opacity: 0;
  -webkit-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
}

.primer-nav-item__group-link:hover {
  background-image: url("../img/eye-highlight.svg");
}

.primer-sidebar-group--documentation .primer-sidebar-group__title:before {
  background-image: url("../img/document.svg");
}

.primer-sidebar-group--patterns .primer-sidebar-group__title:before {
  background-image: url("../img/pattern.svg");
}

.primer-sidebar-group--templates .primer-sidebar-group__title:before {
  background-image: url("../img/template.svg");
}

.primer-nav-items {
  margin: 0;
  padding: 0;
  font-size: 0.9rem;
  list-style: none;
}

.primer-nav-item__link {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0.9rem 1rem;
  color: #7a7c7d;
  text-decoration: none;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.primer-nav-item--current > .primer-nav-item__link {
  color: #000;
  font-weight: 500;
}

.primer-nav-item__link:hover {
  background: rgba(0, 0, 0, 0.02);
}

.primer-nav-item__link:hover .primer-nav-item__group-link {
  opacity: 1;
}

.primer-nav-item__link:before {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 6px;
  background: #D8DDE3;
  content: '';
}

.primer-nav-items--level-1 .primer-nav-item__link {
  padding-left: 2.6rem;
}

.primer-nav-items--level-2 .primer-nav-item__link {
  padding-left: 4.2rem;
}

.primer-nav-items--level-3 .primer-nav-item__link {
  padding-left: 5.8rem;
}

.primer-nav-items--level-4 .primer-nav-item__link {
  padding-left: 7.4rem;
}

.primer-nav-items--level-5 .primer-nav-item__link {
  padding-left: 9rem;
}

.primer-nav-items--level-6 .primer-nav-item__link {
  padding-left: 10.6rem;
}

.primer-nav-items--level-7 .primer-nav-item__link {
  padding-left: 12.2rem;
}

.primer-nav-items--level-8 .primer-nav-item__link {
  padding-left: 13.8rem;
}

.primer-nav-items--level-9 .primer-nav-item__link {
  padding-left: 15.4rem;
}

.primer-nav-items--level-10 .primer-nav-item__link {
  padding-left: 17rem;
}

.primer-nav-item__link-title {
  position: relative;
  overflow: hidden;
  display: block;
  padding-left: 1.8rem;
  padding-right: 0.5em;
  white-space: nowrap;
  text-overflow: ellipsis;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.primer-nav-item--has-children > .primer-nav-item__link > .primer-nav-item__link-title:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 1rem;
  height: 92%;
  background: url("../img/chevron.svg") no-repeat center;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: -webkit-transform 150ms ease;
  transition: -webkit-transform 150ms ease;
  transition: transform 150ms ease;
  transition: transform 150ms ease, -webkit-transform 150ms ease;
  opacity: 0.4;
  content: '';
}

.primer-nav-item--has-children.primer-nav-item--open > .primer-nav-item__link > .primer-nav-item__link-title:before {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.primer-nav-item--current > .primer-nav-item__link:before {
  background: #809cb9;
}

.primer-nav-item--has-children .primer-nav-items {
  display: none;
}

.primer-nav-item--has-children.primer-nav-item--open > .primer-nav-items {
  display: block;
}

.primer-sidebar--enhanced .primer-nav-item__link,
.primer-sidebar--enhanced .primer-sidebar-group {
  cursor: pointer;
}

.primer-sidebar--searching .primer-sidebar__nav {
  opacity: 0.2;
}

.primer-search {
  position: relative;
  padding: 0 1rem 1rem;
}

.primer-search__control {
  position: relative;
}

.primer-search__label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem 1rem;
  width: 100%;
  width: calc(100% - 2rem);
  height: 100%;
  height: calc(100% - 1rem);
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.55);
}

.primer-search__input {
  display: block;
  padding: 0.5rem 1rem;
  width: 100%;
  width: calc(100% - 2rem);
  font-size: 1rem;
  background: #EEF2F5;
  border: 1px solid #EEF2F5;
  border-radius: 5px;
  -webkit-transition: border-color 150ms ease;
  transition: border-color 150ms ease;
}

.primer-search__input:focus {
  outline: none;
  border-color: #ced9e2;
}

.primer-search--focus .primer-search__label {
  display: none;
}

.primer-search__results {
  position: absolute;
  right: 1rem;
  left: 1rem;
  left: calc($primer-search-padding-horizontal + 1px);
  z-index: 100;
  padding: 0;
  margin: 0.5rem 0 0;
  width: 100%;
  width: calc(100% - 2rem);
  max-height: 400px;
  overflow: scroll;
  background: #fff;
  -webkit-box-shadow: 0 2px 14px rgba(0, 0, 0, 0.16);
          box-shadow: 0 2px 14px rgba(0, 0, 0, 0.16);
  border-radius: 4px;
  list-style: none;
}

.primer-search__result + .primer-search__result {
  border-top: 1px solid rgba(151, 151, 151, 0.17);
}

.primer-search__result--empty {
  padding: 1rem;
  font-size: 0.6rem;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}

.primer-search__result-link {
  display: block;
  padding: 0.75rem;
  color: #7a7c7d;
  text-decoration: none;
}

.primer-search__result-link:hover {
  background: rgba(0, 0, 0, 0.02);
}

.primer-search__result-link:hover .primer-search__result-title {
  color: #000;
}

.primer-search__result--current .primer-search__result-link {
  background: rgba(188, 194, 200, 0.5);
}

.primer-search__result--current .primer-search__result-link .primer-search__result-title {
  color: #000;
}

.primer-search__result-title {
  display: block;
  font-size: 0.9rem;
}

.primer-search__result-id {
  display: block;
  margin-top: 0.25rem;
  font-size: 0.8rem;
  opacity: 0.7;
}

.primer-search__result-title,
.primer-search__result-id {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.primer-sidebar--small {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.primer-sidebar--small .primer-logo {
  margin-top: 0;
  margin-bottom: 0;
  min-width: 100px;
  background-size: contain;
  background-position-x: left;
}

.primer-sidebar--small .primer-search-container {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.primer-sidebar--small .primer-search {
  padding-bottom: 0;
}

.primer-sidebar--small .primer-sidebar__nav {
  width: 100%;
}

.primer-sidebar--small .primer-sidebar__nav[hidden] {
  display: none;
}

@media (max-width: 400px) {
  .primer-sidebar--small {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .primer-sidebar--small .primer-search-container {
    width: 100%;
    -webkit-box-flex: initial;
    -webkit-flex: initial;
        -ms-flex: initial;
            flex: initial;
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3;
  }
  .primer-sidebar--small .primer-search {
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    margin-bottom: 1rem;
  }
  .primer-sidebar--small .primer-sidebar__nav {
    -webkit-box-ordinal-group: 5;
    -webkit-order: 4;
        -ms-flex-order: 4;
            order: 4;
  }
}

.primer-burger {
  position: relative;
  overflow: hidden;
  height: 60px;
  width: 40px;
  width: calc(24px + 1.2rem);
  text-indent: -400%;
  background: transparent;
  border: 0;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
}

.primer-burger:before,
.primer-burger:after,
.primer-burger__text:before {
  position: absolute;
  left: 0;
  width: 24px;
  height: 2px;
  background: #56606A;
  content: '';
}

.primer-burger:before {
  top: calc(50% - 1px - 5px);
}

.primer-burger:after {
  top: calc(50% - 1px);
}

.primer-burger__text:before {
  top: calc(50% - 1px + 5px);
}

.primer-burger--closed:before {
  -webkit-animation: primer-burger-top-close 320ms ease-in-out forwards;
          animation: primer-burger-top-close 320ms ease-in-out forwards;
}

.primer-burger--closed:after {
  -webkit-animation: primer-burger-middle-close 320ms ease-in-out forwards;
          animation: primer-burger-middle-close 320ms ease-in-out forwards;
}

.primer-burger--closed .primer-burger__text:before {
  -webkit-animation: primer-burger-bottom-close 320ms ease-in-out forwards;
          animation: primer-burger-bottom-close 320ms ease-in-out forwards;
}

.primer-burger--open:before {
  -webkit-animation: primer-burger-top 320ms ease-in-out forwards;
          animation: primer-burger-top 320ms ease-in-out forwards;
}

.primer-burger--open:after {
  -webkit-animation: primer-burger-middle 320ms ease-in-out forwards;
          animation: primer-burger-middle 320ms ease-in-out forwards;
}

.primer-burger--open .primer-burger__text:before {
  -webkit-animation: primer-burger-bottom 320ms ease-in-out forwards;
          animation: primer-burger-bottom 320ms ease-in-out forwards;
}

@-webkit-keyframes primer-burger-top {
  0% {
    -webkit-transform: none;
            transform: none;
  }
  50% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  100% {
    -webkit-transform: translateY(5px) rotate(-45deg);
            transform: translateY(5px) rotate(-45deg);
  }
}

@keyframes primer-burger-top {
  0% {
    -webkit-transform: none;
            transform: none;
  }
  50% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  100% {
    -webkit-transform: translateY(5px) rotate(-45deg);
            transform: translateY(5px) rotate(-45deg);
  }
}

@-webkit-keyframes primer-burger-top-close {
  100% {
    -webkit-transform: none;
            transform: none;
  }
  50% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  0% {
    -webkit-transform: translateY(5px) rotate(-45deg);
            transform: translateY(5px) rotate(-45deg);
  }
}

@keyframes primer-burger-top-close {
  100% {
    -webkit-transform: none;
            transform: none;
  }
  50% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  0% {
    -webkit-transform: translateY(5px) rotate(-45deg);
            transform: translateY(5px) rotate(-45deg);
  }
}

@-webkit-keyframes primer-burger-middle {
  0% {
    -webkit-transform: none;
            transform: none;
  }
  50% {
    -webkit-transform: none;
            transform: none;
  }
  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@keyframes primer-burger-middle {
  0% {
    -webkit-transform: none;
            transform: none;
  }
  50% {
    -webkit-transform: none;
            transform: none;
  }
  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@-webkit-keyframes primer-burger-middle-close {
  100% {
    -webkit-transform: none;
            transform: none;
  }
  50% {
    -webkit-transform: none;
            transform: none;
  }
  0% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@keyframes primer-burger-middle-close {
  100% {
    -webkit-transform: none;
            transform: none;
  }
  50% {
    -webkit-transform: none;
            transform: none;
  }
  0% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@-webkit-keyframes primer-burger-bottom {
  0% {
    -webkit-transform: none;
            transform: none;
  }
  50% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  100% {
    -webkit-transform: translateY(-5px) rotate(45deg);
            transform: translateY(-5px) rotate(45deg);
  }
}

@keyframes primer-burger-bottom {
  0% {
    -webkit-transform: none;
            transform: none;
  }
  50% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  100% {
    -webkit-transform: translateY(-5px) rotate(45deg);
            transform: translateY(-5px) rotate(45deg);
  }
}

@-webkit-keyframes primer-burger-bottom-close {
  100% {
    -webkit-transform: none;
            transform: none;
  }
  50% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  0% {
    -webkit-transform: translateY(-5px) rotate(45deg);
            transform: translateY(-5px) rotate(45deg);
  }
}

@keyframes primer-burger-bottom-close {
  100% {
    -webkit-transform: none;
            transform: none;
  }
  50% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  0% {
    -webkit-transform: translateY(-5px) rotate(45deg);
            transform: translateY(-5px) rotate(45deg);
  }
}

.primer-pattern {
  background: #FFFFFF;
  border-radius: 7px;
  -webkit-box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.06);
}

.primer-pattern + .primer-pattern {
  margin-top: 1.6rem;
}

.primer-pattern__header {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.primer-pattern__title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 1.5rem;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.18rem;
}

.primer-pattern__id {
  display: inline-block;
  margin-left: 1em;
  font-size: 0.8rem;
  font-family: courier;
  opacity: 0;
  -webkit-transition: opacity 100ms ease;
  transition: opacity 100ms ease;
}

.primer-pattern:hover .primer-pattern__id {
  opacity: 0.4;
}

.primer-pattern__actions {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 1rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.primer-pattern__link {
  display: block;
  width: 45px;
  height: 50px;
  overflow: hidden;
  text-indent: -200%;
  background-repeat: no-repeat;
  background-position: center;
}

.primer-pattern__states-select-container {
  position: relative;
  margin-right: 0.7rem;
}

.primer-pattern__states-select-container:after {
  position: absolute;
  top: 0;
  right: 0.5rem;
  width: 15px;
  height: 100%;
  background: url("../img/select-arrow.svg") no-repeat center;
  content: '';
  pointer-events: none;
}

.primer-pattern__states-select {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0.5rem 2.1rem 0.5rem 0.75rem;
  color: rgba(0, 0, 0, 0.45);
  font-family: "Roboto", sans-serif;
  font-size: 0.85rem;
  font-weight: 500;
  background: #eef2f5;
  border: none;
  -webkit-appearance: none;
}

.primer-pattern__link--isolate {
  background-image: url("../img/eye.svg");
}

.primer-pattern__link--isolate:hover {
  background-image: url("../img/eye-highlight.svg");
}

.primer-pattern__link--fullscreen {
  background-image: url("../img/fullscreen.svg");
}

.primer-pattern__link--fullscreen:hover {
  background-image: url("../img/fullscreen-highlight.svg");
}

.primer-pattern__content {
  margin: 0 0.75rem 0.75rem;
  padding: 1rem;
  border: 1px solid rgba(151, 151, 151, 0.17);
}

.primer-tabs {
  padding: 0 0.75rem 0.75rem;
}

.primer-tab__title,
.primer-tabs-toc__link {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: block;
  padding: 1rem 0 1.6rem;
  font-size: 0.9rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.primer-tab__content {
  padding: 1rem;
  background: #56606A;
  font-family: courier;
  font-size: 0.9rem;
  color: #fff;
}

.primer-tab__pre {
  margin: 0;
}

.primer-tab__pre[class*=language-] {
  padding: 0;
  margin: 0;
  background: transparent;
}

.primer-tab__code {
  display: block;
}

.primer-pattern--enhanced .primer-tab__title {
  display: none;
}

.primer-pattern--enhanced .primer-pattern__states {
  display: none;
}

.primer-pattern--enhanced .primer-tabs-toc {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.primer-pattern--enhanced .primer-tabs-toc:before {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6px;
  background: #E6E6E6;
  content: '';
}

.primer-pattern--enhanced .primer-tabs-toc__item {
  min-width: 20%;
}

.primer-pattern--enhanced .primer-tabs-toc__link {
  position: relative;
  padding-right: 1rem;
  padding-left: 1rem;
  text-align: center;
  color: #000;
  text-decoration: none;
  -webkit-transition: opacity 100ms linear;
  transition: opacity 100ms linear;
}

.primer-pattern--enhanced .primer-tabs-toc__link:before {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6px;
  background: #BCC2C8;
  content: '';
  opacity: 0;
  -webkit-transition: opacity 100ms linear;
  transition: opacity 100ms linear;
}

.primer-pattern--enhanced .primer-tabs-toc__link[aria-selected="true"]:before {
  opacity: 1;
}

.primer-pattern--enhanced .primer-tabs-toc__link[aria-selected="false"] {
  opacity: 0.4;
}

@media (max-width: 700px) {
  .primer-pattern__title {
    padding-left: 0.75rem;
    font-size: 0.9rem;
  }
  .primer-pattern__actions {
    padding-right: 0.2rem;
  }
  .primer-pattern__link {
    width: 40px;
  }
}

@media (max-width: 700px) {
  .primer-pattern__title {
    display: block;
  }
  .primer-pattern__id {
    display: none;
    margin: 0;
    opacity: 0.4;
  }
}

.primer-typography > h1, .primer-typography > h2, .primer-typography > h3, .primer-typography > h4, .primer-typography > h5, .primer-typography > h6 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #101010;
}

.primer-typography > p, .primer-typography > ul, .primer-typography > ol, .primer-typography > blockquote {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 17px;
  color: #737373;
  line-height: 2em;
}

.primer-typography {
  margin: 0 auto;
  padding: 2em 0;
  max-width: 850px;
}

.primer-typography > :first-child {
  margin-top: 0;
}

.primer-typography > h1 {
  font-size: 45px;
}

.primer-typography > h2 {
  font-size: 25px;
}

.primer-typography > h3 {
  font-size: 18px;
  -webkit-text-decoration: uppercase;
          text-decoration: uppercase;
}

.primer-typography > blockquote {
  margin-left: 0;
  margin-right: 0;
  padding-left: 2em;
  border-left: 5px solid #D8DDE3;
}

/* Generated with http://k88hudson.github.io/syntax-highlighting-theme-generator/www */
/* http://k88hudson.github.io/react-markdocs */
/**
 * @author k88hudson
 *
 * Based on prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */
/*********************************************************
* General
*/
pre[class*="language-"],
code[class*="language-"] {
  color: #d9e3ee;
  font-size: 13px;
  text-shadow: none;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*="language-"]::selection,
code[class*="language-"]::selection,
pre[class*="language-"]::mozselection,
code[class*="language-"]::mozselection {
  text-shadow: none;
  background: #b3d4fc;
}

@media print {
  pre[class*="language-"],
  code[class*="language-"] {
    text-shadow: none;
  }
}

pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
  background: #3c4753;
}

:not(pre) > code[class*="language-"] {
  padding: .1em .3em;
  border-radius: .3em;
  color: #db4c69;
  background: #f9f2f4;
}

/*********************************************************
* Tokens
*/
.namespace {
  opacity: .7;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #aec0d2;
}

.token.punctuation {
  color: #aec0d2;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #66adf7;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #D7DEAF;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #aec0d2;
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #f66b7d;
}

.token.function {
  color: #9ca2ff;
}

.token.regex,
.token.important,
.token.variable {
  color: #f9ca76;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

/*********************************************************
* Line highlighting
*/
pre[data-line] {
  position: relative;
}

pre[class*="language-"] > code[class*="language-"] {
  position: relative;
  z-index: 1;
}

.line-highlight {
  position: absolute;
  left: 0;
  right: 0;
  padding: inherit 0;
  margin-top: 1em;
  background: #1c252f;
  -webkit-box-shadow: inset 5px 0 0 #66adf7;
          box-shadow: inset 5px 0 0 #66adf7;
  z-index: 0;
  pointer-events: none;
  line-height: inherit;
  white-space: pre;
}

.primer-html {
  background: #eef2f5;
}

.primer-body {
  margin: 0;
}

.primer-body--document {
  background: #fff;
}

.primer-main {
  padding: 1.2rem;
}

@media (min-width: 1000px) {
  .primer-html {
    width: 100%;
    height: 100%;
  }
  .primer-body {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
  }
  .primer-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .primer-sidebar {
    width: 260px;
    overflow-x: hidden;
    overflow-y: scroll;
    border-right: 1px solid rgba(151, 151, 151, 0.18);
    -webkit-overflow-scrolling: touch;
  }
  .primer-main {
    padding-left: 2rem;
    overflow: scroll;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-overflow-scrolling: touch;
  }
}
