<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         colors="true">
<!--     <testsuites>
        <testsuite name="Handlebars Engine">
            <directory>./vendor/rareloop/primer-template-engine-handlebars/src/Handlebars/Tests</directory>
        </testsuite>
    </testsuites> -->
    <testsuites>
        <testsuite name="Twig Engine">
            <directory>./vendor/rareloop/primer-template-engine-twig/src/Twig/Tests</directory>
        </testsuite>
    </testsuites>
<!--     <testsuites>
        <testsuite name="Blade Engine">
            <directory>./vendor/rareloop/primer-template-engine-blade/src/Blade/Tests</directory>
        </testsuite>
    </testsuites> -->
</phpunit>