<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         colors="true">
    <testsuites>
        <testsuite name="Handlebars Engine">
            <directory>./src/rareloop/Templating/Handlebars/Tests</directory>
        </testsuite>
    </testsuites>
    <testsuites>
        <testsuite name="Twig Engine">
            <directory>./src/rareloop/Templating/Twig/Tests</directory>
        </testsuite>
    </testsuites>
    <testsuites>
        <testsuite name="Blade Engine">
            <directory>./src/rareloop/Templating/Blade/Tests</directory>
        </testsuite>
    </testsuites>
</phpunit>