{% extends "primer-base.twig" %}

{% block templateContent %}
    {% if primer.ui %}
        {# Show the Primer UI #}
        <div class="primer-container">
            {% include 'primer-sidebar.twig' with menu only %}
            <main class="primer-main">
                {% block content %}
                    {% if document %}
                        <div class="primer-typography">{{ document.content|raw }}</div>
                    {% elseif patterns|length > 0 %}
                        {% for pattern in patterns %}
                            {% include 'primer-pattern.twig' with pattern only %}
                        {% endfor %}
                    {% endif %}
                {% endblock %}
            </main>
        </div>
    {% else %}
        {# Show just the requested patterns, without any Primer #}
        {% for pattern in patterns %}
            {% include pattern.id with pattern.data only %}
        {% endfor %}
    {% endif %}
{% endblock %}
