{% extends 'primer-base.twig' %}

{% block templateContent %}
    <h1>Title</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, aut libero aspernatur accusantium laudantium perspiciatis blanditiis nam asperiores esse ducimus molestiae, tempora fugiat, earum doloremque exercitationem inventore voluptas provident recusandae.</p>
{% endblock %}
