<div class="field">
    <label class="field__label" for="text">{{ label }} <abbr title="Required">*</abbr></label>
    <input class="field__input" id="text" type="{{ type }}" placeholder="{{ placeholder }}">
    <small class="field__note">Note about this field</small>
</div>